*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  border: none;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3E4462;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.request-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
  background: #F64B2D;
  border-radius: 3px;
  padding: 16px 15px;
  min-width: 200px;
  max-width: 200px;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rate-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  color: #F64B2D;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #F64B2D;
  padding: 16px 15px;
  min-width: 200px;
  max-width: 200px;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  padding-top: 27px;
  padding-bottom: 157px;
  overflow: hidden;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 106px;
}

.header__link {
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #18214D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover {
  color: #F64B2D;
}

.header__link + .header__link {
  margin-left: 50px;
}

.logo {
  font-size: 29.5px;
}

.logo__bold {
  color: #18214D;
  font-weight: 600;
}

.slides {
  position: relative;
  min-height: 467px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.slide.active {
  opacity: 1;
  z-index: 21;
}

.slide__image {
  margin-right: 65px;
}

.slide__text {
  max-width: 500px;
}

.slide__suptitle {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #18214D;
}

.slide__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #18214D;
  margin-bottom: 16px;
}

.slide__description {
  line-height: 26px;
  letter-spacing: -0.3px;
  margin-bottom: 36px;
}

.slide__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide__request-btn {
  margin-right: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.slide__request-btn:hover {
  background-color: #e62b0a;
}

.slide__rate-btn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  position: relative;
}

.slide__rate-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F64B2D;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.slide__rate-btn:hover,
.slide__rate-btn:focus,
.slide__rate-btn:active {
  color: white;
}

.slide__rate-btn:hover:before,
.slide__rate-btn:focus:before,
.slide__rate-btn:active:before {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}

.finances {
  background: #18214D;
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  position: relative;
  padding-top: 100px;
  padding-bottom: 122px;
  overflow: hidden;
}

.finances:before {
  content: '';
  display: block;
  position: absolute;
  top: 237px;
  left: -8px;
  z-index: -1;
  background: -o-linear-gradient(308.27deg, rgba(246, 75, 45, 0.5) 11.03%, rgba(246, 75, 45, 0.5) 90.65%);
  background: linear-gradient(141.73deg, rgba(246, 75, 45, 0.5) 11.03%, rgba(246, 75, 45, 0.5) 90.65%);
  -webkit-filter: blur(300px);
  filter: blur(300px);
  width: 50%;
  height: 50%;
}

.finances-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 41px;
}

.finances-top__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #FFFFFF;
}

.finances-top__description {
  padding-top: 6px;
  max-width: 443px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.8);
}

.finances-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stats {
  margin-top: 31px;
}

.stats__item {
  max-width: 334px;
  min-height: 224px;
  background: -o-linear-gradient(330.96deg, rgba(255, 255, 255, 0.91) -2.15%, rgba(255, 255, 255, 0.7) -2.15%, rgba(255, 255, 255, 0.69) 42.61%, rgba(255, 243, 243, 0.88) 98.71%);
  background: linear-gradient(119.04deg, rgba(255, 255, 255, 0.91) -2.15%, rgba(255, 255, 255, 0.7) -2.15%, rgba(255, 255, 255, 0.69) 42.61%, rgba(255, 243, 243, 0.88) 98.71%);
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  border-radius: 20px;
  padding: 24px;
}

.stats__item:nth-child(1) {
  margin-left: 136px;
  position: relative;
  z-index: 20;
}

.stats__item:nth-child(2) {
  margin-left: 42px;
  margin-top: -58px;
}

.stats__icon {
  margin-bottom: 8px;
}

.stats__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #18214D;
  max-width: 257px;
  margin-bottom: 9px;
}

.stats__title--second {
  max-width: 271px;
}

.stats__span {
  font-size: 13px;
  color: #5D5D5D;
  position: relative;
  letter-spacing: -0.3px;
  padding-left: 31px;
}

.stats__span:before {
  content: '';
  background: url(../img/finances-gray-icon.svg) no-repeat;
  width: 24px;
  height: 20px;
  left: 4px;
  top: -2px;
  position: absolute;
  z-index: 15;
}

.stats__suptitle {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: rgba(24, 33, 77, 0.6);
  margin-bottom: 20px;
}

.stats__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.stats__rating {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #18214D;
}

.stats__star {
  margin-right: 6px;
}

.stats__rating {
  padding-left: 8px;
}

.stats__experts {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  padding: 2px 12px;
  background: #F64B2D;
  border-radius: 100px;
}

.steps {
  width: 40%;
}

.steps__item {
  position: relative;
  padding-left: 65px;
}

.steps__item + .steps__item {
  margin-top: 72px;
}

.steps__wrapper {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.steps__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.steps__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

.steps__subscription {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: rgba(255, 255, 255, 0.8);
  max-width: 286px;
}

.pricing {
  padding: 100px 0 128px;
  overflow: hidden;
}

.pricing__rate-btn {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.pricing__rate-btn:hover {
  background-color: #F64B2D;
  color: #fff;
}

.pricing__title {
  text-align: center;
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #18214D;
  margin-bottom: 16px;
}

.pricing__subtitle {
  text-align: center;
  line-height: 26px;
  letter-spacing: -0.3px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 430px;
}

.pricing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__item {
  width: calc(100% / 3);
  text-align: center;
  min-height: 400px;
  padding: 26px 50px 28px;
}

.pricing__item:nth-child(2) {
  border-left: 1px solid #DFE4EA;
  border-right: 1px solid #DFE4EA;
}

.pricing__post {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #18214D;
  margin-bottom: 14px;
}

.pricing__cost {
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: -2.4px;
  color: #18214D;
  margin-bottom: 16px;
  position: relative;
  margin-left: -51px;
}

.pricing__sup {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.4px;
}

.pricing__description {
  line-height: 26px;
  letter-spacing: -0.3px;
}

.pricing__wrap {
  min-height: 109px;
  margin-bottom: 20px;
}

.pricing__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 26px;
}

.pricing__more {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.4px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #18214D;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.pricing__more:hover {
  color: #F64B2D;
}

.reviews {
  padding: 66px 0 72px;
}

.reviews__container {
  overflow: hidden;
  max-width: 950px;
}

.reviews__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -2.4px;
  color: #18214D;
  margin-bottom: 16px;
}

.reviews__subtitle {
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.3px;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 600px;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.reviews__item {
  border: 2px solid #DFE4EA;
  border-radius: 8px;
  margin: 0 15px 30px;
  min-height: 274px;
  width: calc(100% / 2 - 30px);
  padding: 30px 35px 35px 30px;
}

.reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 19px;
}

.reviews-top__image {
  margin-right: 16px;
}

.reviews-top__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.55px;
  color: #18214D;
  margin-bottom: 6px;
}

.reviews-top__post {
  line-height: 26px;
  letter-spacing: -0.3px;
}

.reviews__text {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.3px;
  margin-bottom: 23px;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reviews__link {
  margin-left: 29px;
}

@media (max-width: 1068px) {
  .finances-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }

  .finances-top__title {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }

  .finances-top__description {
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    width: 60%;
  }
}

@media (max-width: 997px) {
  .slide__title {
    font-size: 47px;
    line-height: 49px;
  }

  .slide__suptitle {
    margin-bottom: 9px;
  }

  .slide__image {
    max-width: 100%;
    padding-right: 30px;
  }
}

@media (max-width: 954px) {
  .finances {
    padding-bottom: 68px;
  }

  .finances-bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .stats {
    width: 100%;
    margin-bottom: 102px;
  }

  .stats__item:nth-child(2) {
    max-width: 333px;
    width: 100%;
  }

  .steps {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .steps__item {
    max-width: 100%;
    width: calc(100% / 3);
    padding-left: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  .steps__wrapper {
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
  }

  .steps__subscription {
    margin: 0 auto;
  }

  .steps__item + .steps__item {
    margin-top: 0;
  }

  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .stats__item {
    margin: 0;
  }

  .stats__item:nth-child(1) {
    margin: 0;
  }

  .stats__item:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .header {
    padding-bottom: 350px;
  }

  .header-top {
    margin-bottom: 87px;
  }

  .slide {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .slide__text {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 60px;
    max-width: 100%;
  }

  .slide__title {
    max-width: 100%;
  }

  .slide__description {
    max-width: 93%;
  }

  .slide__image {
    width: 100%;
    padding-right: 0;
  }

  .stats {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .steps {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .steps__item {
    width: 50%;
  }
}

@media (max-width: 763px) {
  .stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .stats__item:nth-child(1) {
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .finances {
    padding-bottom: 27px;
  }

  .finances-top {
    margin-bottom: 42px;
  }

  .finances-top__title {
    font-size: 49px;
    line-height: 54px;
  }

  .finances .steps__item {
    margin-bottom: 60px;
  }

  .steps__item {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .header {
    padding-top: 40px;
  }

  .header__top {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 64px;
  }

  .header__nav {
    display: none;
  }

  .slide__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .slide__suptitle {
    text-align: center;
  }

  .slide__description {
    text-align: center;
  }

  .slide__title {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }

  .slide__request-btn {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .slide__rate-btn {
    width: 100%;
    max-width: 100%;
  }

  .finances {
    padding-top: 60px;
  }

  .finances-top {
    margin-bottom: 24px;
  }

  .finances-top__title {
    font-size: 32px;
    line-height: 38px;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  .finances-top__description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .stats {
    margin-top: 0;
  }

  .stats__item {
    padding: 18px 22px 16px 16px;
    max-width: 290px !important;
    min-height: 190px;
  }

  .stats__item:nth-child(1) {
    margin-bottom: 16px;
  }

  .stats__star {
    width: 20px;
    margin-right: 3px;
  }

  .stats__rating {
    font-size: 14px;
    line-height: 22px;
    padding-left: 7px;
  }

  .stats__title {
    font-size: 16px;
    line-height: 22px;
    max-width: 204px;
    margin-bottom: 10px;
  }

  .stats__title--second {
    max-width: 230px;
  }

  .stats__suptitle {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
}

@media (max-width: 377px) {
  .logo {
    font-size: 27px;
    line-height: 1;
  }

  .header__top {
    margin-bottom: 40px;
  }

  .slide__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 14px;
  }

  .slide__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
  }

  .slide__suptitle {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .finances {
    padding-bottom: 60px;
  }

  .stats {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .steps__item {
    margin-bottom: 24px !important;
  }
}